.main-footer {
  position: fixed; /* On le sort du flux normal */
  bottom: 0;       /* On le colle en bas */
  left: 0;
  width: 100%;
  background-color: #f8f9fa !important;
  border-top: 4px solid #FFA500;
  text-align: center;
  padding: 15px 0;
  z-index: 9999;   /* Il passe au-dessus de TOUT */
  display: block !important;
}