.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centre verticalement sur toute la page */
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.hero {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem; 
  margin-bottom: 10px;
  gap: 10px; 
}

.logo-icon {
  height: 100px;
  width: auto;
  object-fit: contain;
}



.blue { color: #007DBE; }
.orange { color: #ea9335; }

.subtitle {
  color: #5f6368;
  margin-bottom: 30px;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  outline: none;
  transition: box-shadow 0.2s;
}

.search-input:focus {
  box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.button-container {
  margin-top: 20px;
}

.search-button {
  background-color: #ffa500; 
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.search-button:hover {
  filter: brightness(0.9);
}