/* Reset total pour éviter les blocages */
html, body, #root {
  height: 100% !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Oblige l'appli à faire toute la hauteur de l'écran */
}

.content-wrap {
  flex: 1; /* C'est cette ligne qui pousse le footer en bas ! */
}

body { overflow-y: scroll !important; }


/* On force l'espace des routes à pousser le reste */
.App > *:first-child {
  flex: 1 0 auto !important;
}

/* Style de secours pour être SUR de voir le h1 et le footer */
.main-footer {
    flex-shrink: 0;
  background-color: #f8f9fa !important;
  border-top: 5px solid #FFA500 !important;
  padding: 50px 0 !important;
  width: 100% !important;
  display: block !important;
  z-index: 9999;
}
