html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Important pour que le 100vh des enfants fonctionne */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* On force le contenu des pages (Routes) à prendre toute la place 
   disponible pour pousser le footer vers le bas */
.App > div:first-child {
  flex: 1 0 auto;
}

.main-footer {
  flex-shrink: 0; /* Empêche le footer de se ratatiner */
}